# Specific virtual environment
envEPI/

# Compiled Python files
*.pyc
__pycache__/

# Jupyter Notebook configuration files
.ipynb_checkpoints/

# System configuration files
.DS_Store

# Log files
*.log

# IDE configurations
.idea/
.vscode/

# Ignore databases and files
*.db
*.csv
